
/* error #B00020 */
/* background #121212 */
/* primary #00E5FF */
/* #FF0266 */
/* shadow #BDBDBD */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
.errors{
  color: #E11900;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
 
.auth-main{
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.auth-card{
  margin: 0 auto;
  max-width: 450px;
}
.auth-main input{
  background-color: #EEEEEE;
  width: 300px;
  height: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  outline-color: #141414;
  border: none;
}
.auth-main button{
  margin-bottom: 20px;
    width: 100%;
    height: 45px;
    border: none;
    font-size: 14px;
    letter-spacing: 5px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: 600;
}
.create-new{
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #757575;
  font-weight: 300;
}
.auth-head{
  text-align: center;
  margin-bottom: 30px;
}
.auth-head h1{
  font-size: xx-large;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px
}

/* loading */
.loader-center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  flex-direction: column;
}
.loader-center h6{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}


 .two-cols {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.two-cols .left {
  padding-top: 50px;
  height: 100%;
  border-right: 1px solid gray;
  flex: .3;
}

.two-cols .right {
  padding-top: 50px;
  overflow-y: auto;
  flex: .7;
}
