
/* error #B00020 */
/* background #121212 */
/* primary #00E5FF */
/* #FF0266 */
/* shadow #BDBDBD */
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;700&display=swap');

*{
  color: #FF7597;
  margin: 0;
  font-family: 'Cuprum', sans-serif;
}
.errors{
  color: #B00020;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
body{
  background-color: #212121;
}
.auth-main{
  margin-top: 200px;
  color: #ef0078;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.auth-card{
  margin: 0 auto;
  max-width: 450px;
}
.auth-main input{
  outline: none;
  width: 300px;
  height: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;

  border: none;
}
.auth-main button{
  margin-bottom: 20px;
  width: 305px;
  height: 30px;
  border: none;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.create-new{
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}
.auth-head{
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-size: 23px;
}